.sticky {
  position: sticky;
}

.card {
  border-radius: 0;
  border-color: #f1f1f1;
}

.sidebar__filter {
  border: 1px solid #f1f1f1;
}

.sidebar__filter,
.jobdetail__company {
  top: 30px;
}

.jobdetail__title--icon {
  stroke: #000;
  width: 50px;
  height: 20px;
}

.autocomplete {
  position: relative;
  .autocomplete__select {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-top: 0;
    .autocomplete__select--option {
      cursor: pointer;
      border-bottom: 1px solid #ececec;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

@media (max-width: 768px) {
  .list__item {
    .list__item--image {
      width: 50px;
    }
  }
}
